<!-- message.ejs -->

<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/message.css">
    </head>
    <body>
        <div class="message">
            <p><span class="label">User:</span> <%= message.username %></p>
            <p><span class="label">Text:</span> <%= message.text %></p>
            <p><span class="label">Date Added:</span> <%= new Date(message.created_at).toLocaleString() %></p>
        </div>
    </body>
</html>