@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif; */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fffcf2;
}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    color: #252422;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1 span {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb5e28;
    border-radius: 1rem;
    cursor: pointer;
}

h1 span svg {
    height: 2rem;
    width: 2rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 1rem;
    margin: 1rem;
    gap: 2rem;
}

.message {
    font-size: 2rem;
    background-color: #403d39;
    color: #fffcf2;
    border-radius: 1rem;
    padding: 2.5rem 3rem;
    line-height: 1.7;
    flex: 1 1 500px;
}

.label {
    font-weight: bold;
}